<div class="clickable" [routerLink]="['/model', this.modelItem.modelId]">
    <div class="card w-100">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h4 style="display: inline;">{{modelItem.name}}</h4>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 pb-2" title="Created By">
                            <i class="fa fa-user"></i> {{modelItem.username}}
                        </div>
                        <div class="col-6 pb-2" title="Accuracy">
                            <i class="fa fa-percent"></i> {{ (modelItem.accuracy * 100) | number:'2.2-2'}}
                        </div>
                        <div class="col-6 pb-2" title="Data Rows">
                            <i class="fa fa-bars"></i> {{ modelItem.rows}}
                        </div>
                        <div class="col-6 pb-2" title="Created On">
                            <i class="fa fa-clock-o"></i> {{modelItem.createdOn | date:'shortDate'}}
                        </div>
                    </div>
                </div>
                <div class="itemAction">
                </div>
            </div>
        </div>
    </div>
</div>